################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElectronicLibrary.Domain.Core\obj\Debug\netcoreapp3.1
/ElectronicLibrary.Domain.Interfaces\obj\Debug\netcoreapp3.1
/ElectronicLibrary.Infrastructure.Business\obj\Debug\netcoreapp3.1
/ElectronicLibrary.Infrastructure.Data\obj\Debug\netcoreapp3.1
/ElectronicLibrary.Services.Interfaces\obj\Debug\netcoreapp3.1
/ElectronicLibraryWebApp\obj\Debug\netcoreapp3.1
.vs
ElectronicLibrary.Domain.Core\obj\Debug\netcoreapp3.1
ElectronicLibrary.Domain.Interfaces\obj\Debug\netcoreapp3.1
ElectronicLibrary.Infrastructure.Business\obj\Debug\netcoreapp3.1
ElectronicLibrary.Infrastructure.Data\obj\Debug\netcoreapp3.1
ElectronicLibrary.Services.Interfaces\obj\Debug\netcoreapp3.1
ElectronicLibraryWebApp\obj\Debug\netcoreapp3.1