################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElectronicLibrary.Domain.Core\obj
/ElectronicLibrary.Domain.Interfaces\obj
/ElectronicLibrary.Infrastructure.Business\obj
/ElectronicLibrary.Infrastructure.Data\obj
/ElectronicLibrary.Services.Interfaces\obj
/ElectronicLibraryWebApp\obj
.vs
ElectronicLibrary.Domain.Core\obj
ElectronicLibrary.Domain.Interfaces\obj
ElectronicLibrary.Infrastructure.Business\obj
ElectronicLibrary.Infrastructure.Data\obj
ElectronicLibrary.Services.Interfaces\obj
ElectronicLibraryWebApp\obj