.card__book_name {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.wrapper {
  width: 20rem;
  margin: 1rem;
}
.wrapper:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 1.5rem 2.5rem rgba(22, 28, 45, 0.1),
    0 0.3rem 0.5rem -0.5rem rgba(22, 28, 45, 0.05) !important;
  transition: box-shadow 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;
}
